<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]='login' (ngSubmit)='auth()'>
      <input type="text" formControlName='username' id="login" class="fadeIn second" name="login" placeholder="login">
      <span style='color:red' *ngIf='login.controls.username.invalid && login.controls.username.touched'>Email invalid</span>
      <input type="text" formControlName='password' id="password" class="fadeIn third" name="login" placeholder="password">
      <span  style='color:red' *ngIf='login.controls.password.invalid && login.controls.password.touched'>password invalid</span>

      <button type="submit" class="fadeIn fourth">Log In</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink='register'>Register...</a>
    </div>

  </div>
</div>


