<div class="container">

  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" [formGroup]='myform' >
        <h2>Please Sign Up <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <input type="text" formControlName='first_name' name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                  <span *ngIf='f.first_name.invalid && f.first_name.touched' style='color:red'>first name invalid</span>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" formControlName='last_name' name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
              <span *ngIf='f.last_name.invalid && f.last_name.touched' style='color:red'>last name invalid</span>
          </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName='display_name' name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3">
          <span *ngIf='f.display_name.invalid && f.display_name.touched' style='color:red'>pseudo invalid</span>

      </div>
        <div class="form-group">
          <input type="email" formControlName='email' name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
          <span *ngIf='f.email.invalid && f.email.touched' style='color:red'>email invalid</span>

      </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" formControlName='password' name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
              <span *ngIf='f.password.invalid && f.password.touched' style='color:red'>password invalid</span>

          </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" formControlName='confirm_password' name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
              <span *ngIf='f.confirm_password.invalid && f.confirm_password.touched' style='color:red'>confirm password invalid</span>

          </div>
          </div>
        </div>
       
        
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6">
              <input type="submit" value="Register" [disabled]='myform.invalid' class="btn btn-primary btn-block btn-lg" tabindex="7">
         
            </div>
          <div class="col-xs-12 col-md-6">
              <a href="#" class="btn btn-success btn-block btn-lg">Sign In</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  </div>
