<h1>{{'welcome' | translate}}</h1>
<table class="table">
    <thead>
        <tr>
            <th>{{'search'|translate}}:</th>
            <th> <input type="text" class="form-control" [(ngModel)]="term"> </th>
            <th><select class="form-control"  [(ngModel)]="dsp">               
                    <option value="true">true</option>
                    <option value="false">false</option>
                   
            </select>
            </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Disponibilite</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor='let prod of products| search:term:dsp '>
                <td>{{prod.id}}</td>
                <td>{{prod.title}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.prix}}</td>
                <td>{{prod.disponibilite}}</td>
            

            <td>
                <button class="btn btn-info" (click)='edit(prod)'>Edit</button>
                <button class="btn btn-danger" (click)='delete(prod.id)'>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
