<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Disponibilite</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor='let prod of products'>
                <td>{{prod.id}}</td>
                <td>{{prod.title}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.prix}}</td>
                <td>{{prod.disponibilite}}</td>
            

            <td>
                <button class="btn btn-info" (click)='edit(prod)'>Edit</button>
                <button class="btn btn-danger" (click)='delete()'>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
